{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <fieldset>
            <legend>Edit Category</legend>
            <div class="form-group">
                <label for="categoryName" class="col-lg-2 control-label">Category Name</label>
                <div class="col-lg-10">
                    {{ form_widget(form.category_name) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    {{ form_widget(form.save) }}
                </div>
            </div>
        </fieldset>
    {{ form_end(form) }}
{% endblock %}